<h1 class="logo">Contest voting in realtime</h1>

<div class="start-box">

    <div class="start-first">
        <form id="find-contest-form" ng-controller="FindContestFormController" ng-submit="find()" novalidate>
            <label for="contest-id">Enter your contest ID</label>
            <input type="text" name="id" id="contest-id" class="inp" autofocus ng-model="formData.id">
        </form>

        <div class="or">or</div>

        <a href="#" class="login-as-jury" ng-click="loginAsJury()">Login as Jury</a>
    </div>

    <form name="loginForm" ng-controller="LoginAsJuryFormController" 
        class="start-second" id="jury-login-form" ng-submit="submit()">
        <div class="close" ng-click="close()">&times;</div>
        <input type="text" name="login" id="jury-username" 
            class="inp" placeholder="Username" ng-model="juryFormData.login" required>
        <input type="password" name="password" id="jury-password" 
            class="inp" placeholder="Password" ng-model="juryFormData.password" required>
        <input type="submit" class="btn" value="Login">
    </form>

    <div id="error-output" style="display: none; color: red">Authorization failed</div.
</div>

<div class="jury"></div>
<div class="jury-hand-bad"></div>