<header class="header">

	<div class="logo"></div>

	<div class="my-profile">
		<img src="{{competition.userInfo.imageLink}}" class="photo" alt="">
		{{competition.userInfo.name}}
	</div>
	
	<h1 class="contest-title">{{competition.currentCompetition.name}}</h1>

	<!-- <a href="#" class="logout" id="logout" title="Logout"></a> -->

	<div class="screen-switcher" ng-controller="SwitchTabController">
		<a href="#" class="item active el-tab el-tab-jury" ng-click="switchToJuryVote()">Jury vote</a>
		<a href="#" class="item item-about el-tab el-tab-about" ng-click="switchToAbout()"></a>
		<a href="#" class="item el-tab el-tab-viewers" ng-click="switchToViewersVote()">Viewers vote</a>
	</div>
</header>

<div class="side">
	<div class="icon-menu"></div>
	
	<div class="side-content">
		<h2 class="side-title">My Events</h2>

		<ul class="contests-list">
			<li ng-repeat="comp in competition.competitionsOfCurrentUser"><a ng-href="{{baseUrl.siteUrl}}/voting/{{comp.id}}">{{comp.name}}</a></li>
		</ul>
	</div>
</div>

<div class="content active el-tab el-tab-jury">	
	<div class="projects projects-jury" ng-controller="ProjectController">
		<div class="project" ng-repeat="project in competition.currentCompetition.projects" data-id="{{project.id}}">
			<div class="battery-box">
				<div class="battery">
					<div class="project-points">{{project.totalJury}}</div>
				</div>

				<div class="battery-progress">
					<div ng-repeat="rating in project.ratings" class="progress" style="background-color: {{rating.jury.color}}; box-shadow: 0 0 15px {{rating.jury.color}}; height: {{rating.mark * 30}}px;" data-points="{{rating.mark}}"></div>						
				</div>

				
				
				<div class="vote-variants" ng-controller="VoteController">
					<!-- <div class="variant bg-2 variant-choosed">+2</div>  -->

					<!-- add .variant-voted to animate voted points -->
					<div ng-if="project.showControls">
						<div class="variant variant-zooming" style="background-color: {{competition.userInfo.color}}; box-shadow: 0 0 15px {{competition.userInfo.color}};" ng-click="juryVote($event, project.id, 3)" data-points="3">+3</div>
						<div class="variant variant-zooming" style="background-color: {{competition.userInfo.color}}; box-shadow: 0 0 15px {{competition.userInfo.color}};" ng-click="juryVote($event, project.id, 2)" data-points="2">+2</div>
						<div class="variant variant-zooming" style="background-color: {{competition.userInfo.color}}; box-shadow: 0 0 15px {{competition.userInfo.color}};" ng-click="juryVote($event, project.id, 1)" data-points="1">+1</div>
						<div class="variant variant-zooming" style="background-color: {{competition.userInfo.color}}; box-shadow: 0 0 15px {{competition.userInfo.color}};" ng-click="juryVote($event, project.id, 0)" data-points="0">0</div>
					</div>
				</div>

			</div>
			<div class="project-info">
				<a href="{{project.url}}" class="project-name" target="_blank">{{project.name}}</a>
				<div class="team-name">{{project.teamName}}</div>
			</div>
		</div>
	</div>

	<div ng-controller="JuryController" class="jury-list">
		<h3 class="jury-list-title">Jury</h3>
		<div class="jury-member" ng-repeat="member in competition.currentCompetition.vouters">
			<div class="photo-wrap" style="background-color: {{member.color}}; box-shadow: 0 0 15px {{member.color}};" >
				<img ng-src="{{member.imageLink}}" class="photo" alt="">
			</div>
			<div class="name">{{member.name}}</div>
		</div>
	</div>

</div>

<div class="content content-anonymous el-tab el-tab-viewers">
			
	<div class="projects projects-anonymous" ng-controller="ProjectController">
		<div class="project" ng-repeat="project in competition.currentCompetition.projects" data-id="{{project.id}}">
			<div class="battery-box">
				<div class="battery">
					<div class="project-points">{{project.participantsCount}}</div>
				</div>

				<div class="battery-progress">
					<div class="progress" style="height: {{project.participantsCount * 30}}px;"></div>
				</div>
				
				<div class="vote-variants">
					<!-- <div class="variant variant-choosed">+1</div> --> <!-- add class .hide to animate voted points -->
				</div>
				<!-- <div class="variant bg-2 variant-choosed">+2</div>  --><!-- add .variant-voted to animate voted points -->
		

			</div>
			<div class="project-info">
				<a href="{{project.url}}" class="project-name" target="_blank">{{project.name}}</a>
				<div class="team-name">{{project.teamName}}</div>
			</div>

			<a ng-show="isAnonymousVoteAvailable(competition.currentCompetition.id)" href="#" class="btn btn-anon-vote" ng-controller="VoteController"
				ng-click="anonymousVote(project.id, competition.currentCompetition.id)">
				Vote
			</a>
		</div>
	</div>

</div>


<div class="empty-state">Choose event <br>from your events list.</div>


<div class="content content-about el-tab el-tab-about">
	{{competition.currentCompetition.description}}
</div>