<header class="header">

	<div class="logo"></div>

	<div class="my-profile">
		<img src="{{competition.userInfo.imageLink}}" class="photo" alt="">
		{{competition.userInfo.name}}
	</div>
	
	<h1 class="contest-title">{{competition.currentCompetition.name}}</h1>

	<!-- <a href="#" class="logout" id="logout" title="Logout"></a> -->

	<div class="screen-switcher" ng-controller="SwitchTabController">
		<a href="#" class="item active el-tab-jury" ng-click="switchToJuryVote()">Jury vote</a>
		<a href="#" class="item el-tab-viewers" ng-click="switchToViewersVote()">Viewers vote</a>
	</div>
</header>

<div class="side">
	<div class="icon-menu"></div>
	
	<div class="side-content">
		<h2 class="side-title">My Events</h2>

		<ul class="contests-list">
			<li ng-repeat="comp in competition.competitionsOfCurrentUser"><a ng-href="{{baseUrl.siteUrl}}/voting/{{comp.id}}">{{comp.name}}</a></li>
		</ul>
	</div>
</div>

<div class="content active el-tab-jury">	
	<div class="projects" ng-controller="ProjectController">
		<div class="project" ng-repeat="project in competition.currentCompetition.projects">
			<div class="battery-box">
				<div class="battery">
					<!-- <div class="project-points">42</div> -->
				</div>

				<div class="battery-progress">
					<div ng-repeat="member in competition.currentCompetition.vouters">
						<div class="progress bg-{{$index + 1}}"></div>						
					</div>
				</div>

				<!-- <div class="variant bg-2 variant-choosed">+2</div>  --><!-- add .variant-voted to animate voted points -->
				<div class="vote-variants">
					<div class="variant variant-zooming bg-1">+3</div>
					<div class="variant variant-zooming bg-1">+2</div>
					<div class="variant variant-zooming bg-1">+1</div>
					<div class="variant variant-zooming bg-1">0</div>
				</div>

			</div>
			<div class="project-info">
				<a href="{{project.url}}" class="project-name" target="_blank">{{project.name}}</a>
				<div class="team-name">{{project.teamName}}</div>
			</div>
		</div>
	</div>

	<div ng-controller="JuryController" class="jury-list">
		<h3 class="jury-list-title">Jury</h3>
		<div class="jury-member" ng-repeat="member in competition.currentCompetition.vouters">
			<div class="photo-wrap bg-{{$index + 1}}">
				<img ng-src="{{member.imageLink}}" class="photo" alt="">
			</div>
			<div class="name">{{member.name}}</div>
		</div>
	</div>

</div>

<div class="content content-anonymous el-tab-viewers">
			
	<div class="projects" ng-controller="ProjectController">
		<div class="project" ng-repeat="project in competition.currentCompetition.projects">
			<div class="battery-box">
				<div class="battery">
					<!-- <div class="project-points">42</div> -->
				</div>

				<div class="battery-progress">
					<div class="progress" style="height: 50px"></div>
				</div>
				
				<div class="vote-variants">
					<!-- <div class="variant variant-choosed">+1</div> --> <!-- add class .hide to animate voted points -->
				</div>
				<!-- <div class="variant bg-2 variant-choosed">+2</div>  --><!-- add .variant-voted to animate voted points -->
		

			</div>
			<div class="project-info">
				<a href="{{project.url}}" class="project-name" target="_blank">{{project.name}}</a>
				<div class="team-name">{{project.teamName}}</div>
			</div>

			<a href="#" class="btn">Vote</a>
		</div>
	</div>

</div>


<div class="empty-state">Choose event <br>from your events list.</div>