body {
    .font-regular();
    color: #fff;
}

a {
    color: @color-orange;

    &:hover {
        text-decoration: none;
    }
}

:focus {
    outline: none;
}

input {
    .font-regular();
    color: #fff;
}

.btn {
    background: @color-orange;
    color: #fff;
    padding: 6px 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}